body {
	max-height: 100vh;
}

.header {
	background-color:rgb(20, 20, 20);
	display: flex;
	flex-direction: row;
	height: 70px;
	border-bottom: 0.020rem white solid;
}
.accueil_retour, .deconnecter {
	font-size: 17px;
}
.header_logo {
	width: auto;
	height: 90%;
	float: right;
}

.bienvenue {
	display: flex;
	justify-content: center;
	height: 30px;
	color: white;
	font-size: 20px;
	text-shadow:0 0 2.5px #c19e5e,5px 9px 5px rgba(0, 0, 0, 0.5), 0 0 150px #c19e5e;color:#c19e5e;
	background-color:#262626;
    font-family: "FoundryMonolineOT3W08-XBd";
    border-top-right-radius: 50rem;
	border-bottom-right-radius: 50rem;
}

.interface2 {
	height: 600px;
}

.interface {
	display: flex;
	flex-direction: row;
	
	height: 790px;
	width: 90%;
	margin-top: 1.5%;
	background-color: #1e1e1e; 
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-box-shadow: 0px 0px 20px 10px #363636;
	-moz-box-shadow: 0px 0px 20px 10px #363636;
	filter:progid:DXImageTransform.Microsoft.Glow(Color=#363636,Strength=30);
	zoom:1;
	box-shadow: 0px 0px 20px 10px #363636;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;	
}

.modif {
	display: flex;
	flex-direction: column;
	
	background-color: red;
	/*width: 30%;
margin-left: 30px; */
	margin-top: 40px;
	margin-bottom: 40px;
	width: 30%;
	height: 90%;
	margin-left: 120px;

}
.fiche_renseignement {
	display: flex;
	background-color: yellow;
	width: 80%;
	height: 80%;
	margin-top: 72px;
	margin-left: 10%;
	border-radius: 5px;
}

.bouton_modif {
	width: 30%;
	margin-left: 35%;
	margin-top: 2%;
	display: flex;
	align-items: center;
	justify-content: center;

}


.edt { 
	background-color: pink;
	margin-top: 0.5%;
	margin-left: 15%;
	margin-bottom: 0.5%;
	margin-right: 1%;
	width: 50%;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	border-radius: 20px;
}

.compteur {
	display: block;
	margin-left : 30px;

	background-color: blue;
	height: 25%;
	width: 25%;

}
::-webkit-scrollbar {
       width: 0px;
       background: transparent; /* make scrollbar transparent */
}

.choix {
	height: 30px;
}
.affichage {
	background-color: orange;
	margin-left: 10%;
}


.space {
	
	margin-left: 3%;
	margin-top: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.okok{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

text {
	margin-top: 2px;
}

.textes {
	margin-top: 2px;
	margin-bottom: 2px;
}


input {
  position: absolute;
  left: -9999px;

}

.label_edt {
  display: block;
  position: relative;
  margin: 10px;
  padding: 15px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #6a8494;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s;
}

input:checked + label {
  background-color: #ab576c;
}


.dispos {
	margin-top: 1px;
}

.bouton_valid {
	height: 5%;
}



/*body {
	background-color:rgb(20, 20, 20);
	
}*/
button {
	 background-color: rgb(8, 8, 8,0.1);
   
    color: white;
    font-family: "FoundryMonolineOT3W08-XBd";
    border-style: none;
}
button:hover {
	color: #b09056;
}


footer{
	margin-top: 1%;
}

hr {
	height: 0.020rem ;
        background-color: white;
        border: none;
        margin-top: 5px;
}