body {
	background-color: rgb(20,20,20);
	color:white;
}

.kappa {
	font-size: 60px;
	 font-family: "FoundryMonolineOT3W08-XBd";
	 display: flex;
	 align-items: center;
	 justify-content: center;

}
button {
	border: solid #c8a461;
	background-color: #1e1e1e; 
}

.container {
	border : thick double #c19e5e;
  	-webkit-box-shadow: 0px 0px 227px 12px rgba(99,99,99,0.27);
	-moz-box-shadow: 0px 0px 227px 12px rgba(99,99,99,0.27);
	box-shadow: 0px 0px 227px 12px rgba(99,99,99,0.27);
}