body {
	height: 100vh;
	background-color:rgb(20, 20, 20);
	color: white;
}

.forminscri {	
	margin-top: 25vh; 
  	border : thick double #c19e5e;
  	-webkit-box-shadow: 0px 0px 227px 12px rgba(99,99,99,0.27);
	-moz-box-shadow: 0px 0px 227px 12px rgba(99,99,99,0.27);
	box-shadow: 0px 0px 227px 12px rgba(99,99,99,0.27);
	width: 600px;
}

h1 {
    font-family: "FoundryMonolineOT3W08-XBd";
    font-size: 30px;
    color: #c8a461;
}

button {
	border: solid #c8a461;
	background-color: #1e1e1e; 
}