body {
	background-color:rgb(20, 20, 20);
}

.update {
	color: white;font-family: "FoundryMonolineOT3W08-XBd";
}

button {
	border-radius: 20px;
	border: solid #c8a461;
	background-color:rgb(20,20,20);
	color: white;font-family: "FoundryMonolineOT3W08-XBd";
}