body {
	max-height: 100vh;
	background-color: rgb(20,20,20);
	
}

.header {
	background-color:rgb(20, 20, 20);
	display: flex;
	flex-direction: row;
	height: 70px;
	border-bottom: 0.020rem white solid;
}
.accueil_retour, .deconnecter {
	font-size: 17px;
	background-color: rgb(8, 8, 8,0.1);
    color: white;
    font-family: "FoundryMonolineOT3W08-XBd";
    border-style: none;
}
.accueil_retour:hover, .deconnecter:hover {
	color: #b09056;
}
.header_logo {
	width: auto;
	height: 90%;
	float: right;
}

.bienvenue {
	display: flex;
	justify-content: center;
	height: 30px;
	color: white;
	font-size: 20px;
	text-shadow:0 0 2.5px #c19e5e,5px 9px 5px rgba(0, 0, 0, 0.5), 0 0 150px #c19e5e;color:#c19e5e;
	background-color:#262626;
    font-family: "FoundryMonolineOT3W08-XBd";
    border-top-right-radius: 50rem;
	border-bottom-right-radius: 50rem;
}

.interface {
	border: solid #c8a461;

	border-radius: 10px;
	margin-top: 0.5%;
	background-color: #1e1e1e; 
}

.choix {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1%;
	align-items: 
	
}

.reservation {
	background-color: brown;
	height: 700px;
	width: 20%;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}


.contain-day {
	margin-left: 10%;
	margin-top: 10%;
}
.place {
margin-left: auto;
	margin-right: auto;
	background-color: yellow;
	height: 445px;
	width: 300%;
	margin-top: 10%;

}

.day {
	margin-left: auto;
	margin-right: auto;
}
.container-2 {
	display: flex;
	flex-direction: column;

}

.hotel {
	background-color: #87B5F3;
	border-radius: 10px;
	font-size: 15px
}


.informations {
	background-color: brown;
	width: 300px;
	height: 100px;
	margin-left: 30px;
}

.vip-2 {
	background-color: pink;
	overflow: hidden;
	font-size: 15px
		border-radius: 10px;

}


/* Menu */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;

  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


.vip-3 {
	background-color: orange;
		border-radius: 10px;
		font-size: 15px

}


h1 {
	font-family: "FoundryMonolineOT3W08-XBd";
	font-size: 20px;
	margin-top: 5%;
	margin-left: 12%;
}

.valid {
	margin-top:auto;
	margin-bottom: auto;
	color: white;
}

#envoyer{
	border-radius: 20px;
	border: solid #c8a461;
		background-color: #1e1e1e; 
		margin-top: 5%;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	color: white;
}